:root {
  --color-bg-color-1: #fff;
  --color-bg-color-2: #fff;
  --color-bg-color-3: #e6e7e8;
  --color-bg-color-4: #212529;
  --color-bg-color-5: #d91215;
  --color-color-1: #d91215;
  --color-color-2: #d91215;
  --color-color-3: #212529;
  --color-color-4: #d91215;
  --color-grey-1: #6c757d;
  --color-grey-2: #dedfe0;
  --color-grey-3: #e6e7e8;
  --color-text-1: #212529;
  --color-text-2: #6c757d;
  --color-text-3: #212529;
  --color-link-1: #d91215;
  --color-link-2: #d91215;
  --color-bg-color-1-hover: #d91215;
  --color-bg-color-1-contrast: #d91215;
  --color-bg-color-2-hover: #e6e7e8;
  --color-bg-color-2-contrast: #212529;
  --color-bg-color-3-hover: #b8b9ba;
  --color-bg-color-3-contrast: #212529;
  --color-bg-color-4-hover: #4d5154;
  --color-bg-color-4-contrast: #f8f9fa;
  --color-bg-color-5-hover: #ae0e11;
  --color-bg-color-5-contrast: #fff;
  --color-color-1-hover: #ae0e11;
  --color-color-1-contrast: #fff;
  --color-color-2-hover: #ae0e11;
  --color-color-2-contrast: #fff;
  --color-color-3-hover: #4d5154;
  --color-color-3-contrast: #fff;
  --color-color-4-hover: #ae0e11;
  --color-color-4-contrast: #fff;
  --color-grey-1-hover: #4c5258;
  --color-grey-1-contrast: #fff;
  --color-grey-2-hover: #bebfc0;
  --color-grey-2-contrast: #212529;
  --color-grey-3-hover: #b8b9ba;
  --color-grey-3-contrast: #212529;
  --color-text-1-hover: #4d5154;
  --color-text-1-contrast: #fff;
  --color-text-2-hover: #4c5258;
  --color-text-2-contrast: #fff;
  --color-text-3-hover: #4d5154;
  --color-text-3-contrast: #fff;
  --color-link-1-hover: #ae0e11;
  --color-link-1-contrast: #fff;
  --color-link-2-hover: #ae0e11;
  --color-link-2-contrast: #fff;
  --color-white: #fff;
  --color-black: #222;
  --color-total-package: #ed2125;
  --color-total-package-hover: #ae0E11;
  --color-total-package-text: #fff;
  --color-facebook: #4267b2;
  --color-twitter: #1da1f2;
  --color-instagram: #833ab4;
  --color-content-marketing: #496170;
  --color-error: #ffd9de;
  --header-menu-top-color: var(--color-grey-1);
  --header-menu-primary-color: var(--color-text-1);
  --header-menu-primary-text-transform: none;
  --header-menu-primary-font-size: 13px;
  --header-menu-separator-enabled: block;
  --header-sitemap-footer-color: #708597;
  --article-font-body-font-family: Financier Text, sans-serif;
  --article-font-body-font-size: 20px;
  --article-font-body-font-weight: 400;
  --article-font-lead-font-family: Financier Text, sans-serif;
  --article-font-lead-font-size: 22px;
  --article-font-lead-font-weight: 700;
  --font-family-system: Inter, sans-serif;
  --font-family-primary: Metric, sans-serif;
  --font-family-secondary: Financier Text, sans-serif;
  --text-type-1-font-size: 18px;
  --text-type-1-font-weight: 700;
  --text-type-2-font-size: 14px;
  --text-type-2-font-weight: 400;
  --text-type-3-font-size: 16px;
  --text-type-3-font-weight: 400;
  --h1-lg-font-size: 40px;
  --h1-lg-font-weight: 600;
  --h1-lg-line-height: 1.3;
  --h1-sm-font-size: 34px;
  --h1-sm-font-weight: 600;
  --h1-sm-line-height: 1.3;
  --h2-lg-font-size: 26px;
  --h2-lg-font-weight: 600;
  --h2-lg-line-height: 1.3;
  --h2-sm-font-size: 22px;
  --h2-sm-font-weight: 600;
  --h2-sm-line-height: 1.3;
  --h3-lg-font-size: 24px;
  --h3-lg-font-weight: 600;
  --h3-lg-line-height: 1.3;
  --h3-sm-font-size: 20px;
  --h3-sm-font-weight: 600;
  --h3-sm-line-height: 1.3;
  --h4-lg-font-size: 22px;
  --h4-lg-font-weight: 600;
  --h4-lg-line-height: 1.3;
  --h4-sm-font-size: 19px;
  --h4-sm-font-weight: 600;
  --h4-sm-line-height: 1.3;
  --h5-lg-font-size: 18px;
  --h5-lg-font-weight: 600;
  --h5-lg-line-height: 1.3;
  --h5-sm-font-size: 18px;
  --h5-sm-font-weight: 600;
  --h5-sm-line-height: 1.3;
  --h6-lg-font-size: 17px;
  --h6-lg-font-weight: 600;
  --h6-lg-line-height: 1.3;
  --h6-sm-font-size: 17px;
  --h6-sm-font-weight: 600;
  --h6-sm-line-height: 1.3;
}
